* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
	font-family: sans-serif;
}

.login-box {
	width: 320px;
	height: 420px;
	background: #fff;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-shadow: 0 5px 15px rgba(0,0,0,.3);
	padding: 70px 30px;
	border-radius: 10px;
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	font-size: 30px;
	color: #000;
	text-align: center;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #000;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #000;
	pointer-events: none;
	transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #000;
	font-size: 12px;
}

.login-box a {
	display: inline-block;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 14px 0;
	margin-top: 30px;
	border-radius: 25px;
	transition: 0.5s;
	text-decoration: none;
	width: 100%;
}

.login-box a:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}

.login-box a span {
	position: absolute;
	display: block;
}

.login-box a span:nth-child(1) {
	top: 0;
	left: -1px;
	width: 0;
	height: 2px;
	background-color: #000;
	transition: 0.5s;
}

.login-box a:hover span:nth-child(1) {
	width: 100%;
}

.login-box a span:nth-child(2) {
	top: -1px;
	right: 0;
	width: 2px;
	height: 0;
	background-color: #000;
	transition: 0.5s;
}

